# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# Maven
# =========================
target/

# =========================
# Java
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example
.ConventionalCommits

# =========================
# Docker
# =========================
# Volumes / dados persistidos
docker-data/
data/

# =========================
# Database files
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# OS
# =========================
.DS_Store
Thumbs.db